APP_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
APP_POSTGRES_POOL_MAX=1
APP_POSTGRES_URL=postgres://...
CATALOG_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
CATALOG_POSTGRES_POOL_MAX=1
CATALOG_POSTGRES_URL=postgres://...
