APP_ORIGIN=https://...
APP_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
APP_POSTGRES_URL=postgres://...
CATALOG_POSTGRES_CERTIFICATE="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
CATALOG_POSTGRES_URL=postgres://...
JWT_SECRET_ACCESS_TOKEN=...
JWT_SECRET_REFRESH_TOKEN=...
JWT_SECRET_TRUSTED_DEVICE=...
TOTP_ENCRYPTION_KEY=...
UPSTASH_KV_REST_API_TOKEN=...
UPSTASH_KV_REST_API_URL=https://...
