APP_ORIGIN=http://localhost:3000
APP_POSTGRES_URL=postgres://test_user:test_password@localhost:5434/app_db
API_ORIGIN=http://localhost:3002
CATALOG_POSTGRES_URL=postgres://test_user:test_password@localhost:5435/catalog_db
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_APP_ORIGIN=http://localhost:3000
NEXT_PUBLIC_EDGE_PROXY_NEW_ORIGIN=http://localhost:3001
NEXT_PUBLIC_EDGE_PROXY_ORIGIN=http://localhost:3001
NEXT_PUBLIC_IMAGE_PROXY_ORIGIN=http://localhost:3002
OTEL_EXPORTER_OTLP_ENDPOINT=
REDIS_URL=redis://localhost:6380
