ADSTERRA_API_KEY="..."
AIVEN_POSTGRES_URL="postgres://..."
BBATON_CLIENT_ID="..."
BBATON_CLIENT_SECRET="..."
GA_PROPERTY_ID="..."
POSTGRES_URL="postgres://..."
TOTP_ENCRYPTION_KEY="..."
UPSTASH_KV_REST_API_TOKEN="..."
UPSTASH_KV_REST_API_URL="https://..."
VAPID_PRIVATE_KEY="..."
