CI="true"
NEXT_PUBLIC_API_ORIGIN="https://..."
NEXT_PUBLIC_APP_ORIGIN="https://..."
NEXT_PUBLIC_SENTRY_DSN="https://..."
VERCEL_ENV="production"
VERCEL_GIT_COMMIT_SHA="..."

SENTRY_AUTH_TOKEN="..."
SENTRY_ORG="..."
SENTRY_PROJECT="..."
