ADSTERRA_API_KEY=
AIVEN_CERTIFICATE=""
AIVEN_POSTGRES_URL=postgresql://
AMPLITUDE_API_KEY=
BBATON_CLIENT_ID=
BBATON_CLIENT_SECRET=
GA_PROPERTY_ID=
GA_SERVICE_ACCOUNT_EMAIL=
GA_SERVICE_ACCOUNT_KEY=""
JWT_SECRET_ACCESS_TOKEN=
JWT_SECRET_BBATON_ATTEMPT=
JWT_SECRET_REFRESH_TOKEN=
JWT_SECRET_TRUSTED_DEVICE=
POSTGRES_URL=postgresql://
SUPABASE_CERTIFICATE=""
TOTP_ENCRYPTION_KEY=
TURNSTILE_SECRET_KEY=
UPSTASH_KV_REST_API_URL=
UPSTASH_KV_REST_API_TOKEN=
VAPID_PRIVATE_KEY=
